<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-segment (ionChange)="segmentChanged($event)" value="cuentas">
      <ion-segment-button value="cuentas">Mis Cuentas</ion-segment-button>
      <ion-segment-button value="crear">Crear nueva cuenta</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngIf="segmentTab == 'crear'">
    <div *ngIf="status">
      <form name="editForm" [formGroup]="editForm">
        <ion-item-group>
          <ion-item>
            <ion-label position="floating">Buscar numero Cuenta</ion-label>
            <ion-input type="number" name="numerCuenta" formControlName="numerCuenta"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-button (click)="search()" color="primary">
          BUSCAR
        </ion-button>
      </form>
      <div *ngIf="found">
        <form name="editForm2" [formGroup]="editForm2">
          <ion-item-group>
            <ion-item>
              <ion-label position="floating">Alias</ion-label>
              <ion-input type="text" name="aliasCuentaAsocia" formControlName="aliasCuentaAsocia"></ion-input>
            </ion-item>
          </ion-item-group>

        </form>
        <ion-card class="ion-card">
          <ion-item lines="none">
            <ion-icon slot="start" src="assets/icon/alarma.svg"></ion-icon>
            <ion-label text-wrap>
              <p>Numero de cuenta: {{cuentaEncontrada.numerCuenta}}</p>
              <p>Saldo: {{cuentaEncontrada.saldoCuenta}}</p>
              <p>Moneda de cuenta: {{cuentaEncontrada.monedaCuenta}}</p>
              <p>Tipo de cuenta {{cuentaEncontrada.tipoNombreBanco.tipoNombreBanco}}</p>
              <p>Banco: {{cuentaEncontrada.tipocuenta.tipoCuenta}}</p>
              <p>Fecha de creación: {{cuentaEncontrada.fechaCuenta | date:'medium'}}</p>
              <hr>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-button (click)="saveCuentaAsociada()" color="primary">
          Guardar cuenta asociada
        </ion-button>
      </div>
    </div>
  </div>

  <div *ngIf="segmentTab == 'cuentas'">

    <ion-list>
      <!-- <ion-label>usuario : {{nombreusuario}}</ion-label> -->
      <ion-item-sliding *ngFor="let cuenta of cuentas" #slidingItem>
        <ion-card class="ion-card">
          <ion-item lines="none">
            <ion-icon slot="start" src="assets/icon/alarma.svg"></ion-icon>
            <ion-label text-wrap>
              <p>Numero de cuenta: {{cuenta.cuenta.numerCuenta}}</p>
              <p>Alias de cuenta: {{cuenta.aliasCuentaAsocia}}</p>
              <p>Tipo de cuenta: {{cuenta.cuenta.tipoNombreBanco.tipoNombreBanco}}</p>
              <p>Usuario: {{cuenta.user.firstName}}</p>
              <hr>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-item-sliding>
    </ion-list>

  </div>


</ion-content>