<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
      <ion-label>
        Home
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuentas">
      <ion-icon src="assets/icon/alarma.svg"></ion-icon>
      <ion-label>
        Cuentas
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="perfil-creats">
            <ion-icon src="assets/icon/usuario.svg"></ion-icon>

      <ion-label>
        Perfil
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>