
<ion-content class="center">
  <br><br>
  <!-- <img src="../../../assets/icon/suralogo.svg"> -->
<!--   <ion-img style="padding: 15%; margin-top: 50px; margin-bottom: 120px;" src="assets/icon/BeCare.png"></ion-img>
 --> 
  <div style="padding: 10%;">
    <ion-button expand="block" routerLink="/login" id="signIn">Login</ion-button>
    <br>
    <!-- <p>{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p> -->
    <ion-button expand="block" routerLink="/signup">Registrar</ion-button>
  </div>
</ion-content>